# Ignore everything
*

# Except these essential files
!index.html
!Fav-icon.png
!KTern Design System.md
!.gitignore
!.nojekyll
!README.md

# Ignore local/IDE files
.vscode/
.idea/
*.log

# OS files
.DS_Store
Thumbs.db
